<div class="max-w-5xl mx-auto px-5">
    <a type="button" routerLink="/admin/product/add" class="text-blue-500">Add</a>
    <table class="table table-bordererd">

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.status ? 'Còn hàng' : 'Hết hàng' }}</td>
                <td>
                    <button class="w-20 h-8 rounded-2xl text-sky-500" routerLink="/admin/product/edit/{{ product.id! }}" >Edit</button>
                    <button class="btn-danger w-20 h-8 rounded-xl text-white" (click)="onHandleRemove(product.id!)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <app-products [products]="productList"></app-products> -->

<!-- <div class="detail" *ngIf="productDetail">
    <hr />
    <h2>Product Detail Component</h2>
    <app-product-detail [product]="productDetail"></app-product-detail>
    <router-outlet></router-outlet>
</div> -->



