<app-header></app-header>


<section class="projects">
    <div class="custom-container">
        <div class="seciton-header">
            <h2 class="title_page">Works</h2>
        </div>
        <div class="section-body">
            <div *ngFor="let product of products; let i = index"
            class="project__item grid md:grid-cols-[246px,auto] gap-4">
                <div class="project__img">
                    <a href="./works_detail.html">
                        <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1654714391/Rectangle_30_ku6hde.jpg"
                            alt="" class="project__thumbnail" />
                    </a>
                </div>
                <div class="project__content">
                    <h3 class="project__name">{{ product.name }}</h3>
                    <div class="project__meta">
                        <span class="project__createat">{{ product.price }}</span>
                        <a href="" class="project__category">{{ product.status ? "Còn hàng" : "Hết hàng" }}</a>
                    </div>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit.
                        Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
            <!--End .project-item-->

        </div>
    </div>
</section>


<app-footer></app-footer>