<header>
    <div class="custom-container">
        <div class="py-5">
            <div class="flex justify-end items-center">
                <button id="btn-mobile" class="md:hidden text-4xl">
                    <!-- <ion-icon name="menu-outline"></ion-icon> -->
                    Menu
                </button>
            </div>
            <div class="flex justify-end">
                <ul class="hidden md:flex space-x-4">
                    <li><a class="hover:text-rose-500" routerLink="">Home</a></li>
                    <li><a class="hover:text-rose-500" routerLink="/works">Works</a></li>
                    <li><a class="hover:text-rose-500" routerLink="/blog">Blog</a></li>
                    <li><a class="hover:text-rose-500" routerLink="">Contact</a></li>
                    <li><a class="hover:text-rose-500" routerLink="/admin">Admin</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>