<header>
    <div class="custom-container">
        <div class="py-5">
            <div class="flex justify-end items-center">
                
                <button id="btn-mobile" class="nav-item dropdown md:hidden text-4xl">
                    <!-- <ion-icon name="menu-outline"></ion-icon> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        class="bi bi-list dropdown-toggle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="">Home</a></li>
                        <li><a class="dropdown-item" routerLink="/works">Works</a></li>
                        <li><a class="dropdown-item" routerLink="/blog">Blog</a></li>
                        <li><a class="dropdown-item" routerLink="">Contact</a></li>

                        <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </button>
                
            </div>
            <div class="flex justify-end">
                <div class="mr-[600px] my-auto">
                    <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1655170360/FPT_Polytechnic_1_bwemut.png" alt="" width="100px">
                </div>
                <ul class="hidden md:flex space-x-4 my-auto">
                    <li><a class="hover:text-rose-500" routerLink="">Home</a></li>
                    <li><a class="hover:text-rose-500" routerLink="/works">Works</a></li>
                    <li><a class="hover:text-rose-500" routerLink="/blog">Blog</a></li>
                    <li><a class="hover:text-rose-500" routerLink="">Contact</a></li>
                    <!-- <li><a class="hover:text-rose-500" routerLink="/admin">Admin</a></li> -->

                </ul>
                <ul class=" hidden navbar-nav md:flex ml-8">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>