<!-- <header>
  header
  <a routerLink="hello">Hello</a>
  <a routerLink="about">About</a>
</header>
<hr /> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h4 class="navbar-brand" >My App</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" role="button" routerLink="hello">
            Hello
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" role="button" routerLink="about">
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->



<h2>Product List Component</h2>
<app-products [products]="productList"></app-products>
<hr />
<h2>Product Add Component</h2>
<app-product-add></app-product-add> 