<footer>
    <div class="custom-container py-4  md:mt-24">
        <div class=" py-8 pl-14 grid grid-cols-4 w-96 mb-5 mx-auto">
            <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1654737346/fb_av0kmw.png" alt="">
            <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1654737346/insta_tkjicf.png" alt="">
            <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1654737346/Group_ki1mvp.png" alt="">
            <img src="https://res.cloudinary.com/dsirnbuyv/image/upload/v1654737346/Linkedin_dfckei.png" alt="">
        </div>
        <div class="text_footer mb-14 text-center">
            Copyright ©2020 All rights reserved
        </div>
    </div>
</footer>